package atlas

trait NativeFuncBoilerplate {
  // self: NativeFuncFunctions =>

  [#implicit def apply[[#A1#], R](func: ([#A1#]) => R)(implicit [#dec1: ValueDecoder[A1]#], enc: ValueEncoder[R]): NativeFunc =
    NativeFunc(values => for {
      [#arg1 <- dec1(values(0))#
      ]
    } yield enc(func([#arg1#])))#
  ]
}
